<h1><%= title %></h1>

  <div playlist_index=0 class="playlist_container">

<%= render 'layouts/json_on_page' %>
<%= form_tag(songs_add_to_playlist_path, :method => "post", :remote => true) do %>
<table>
    <tr>
      <th class="title">Title</th>
      <th class="artists">Artist</th>
      <th class="album">Album</th>
      <th class="song_locations">Location</th>
      <th class="song_checkbox">Add to playlist</th>
    </tr>
    <%= label_tag('add_to_playlist', 'Add songs to playlist: ') %>
    <%= collection_select('playlist', 'id', @playlists, :id, :title) %>
    <%= submit_tag("Add to playlist") %>
    ||||||||||
    <%= link_to 'New Playlist', new_playlist_path, :class => 'new_playlist_link' %>
      <% @songs.each_with_index do |song, index| %>
        <tr id="<%= index %>">
            <td class="song_title"><%= song.title %></td>
            <td class="song_artist"><%= song.artist %></td>
            <td class="song_album"><%= song.album %></td>
            <td class="song_location"><div class="long_td_wrapper"><%= song.location %></div></td>
          <td>
            <%= check_box_tag "song_ids[]", song.id, false, :id => "song_#{song.id}" %>
          </td>
        </tr>
      <% end %>
</table>
<% end %>
</div>