<% content_for :ajax_view do %>
    <div id="dashboard_view">
      <h1>Dashboard</h1>
      <% #@itunes_song_data %>


      <% #@itunes_song_data.each do |k, v| %>
          <%  #v['Name'] %>
      <% #end %>

      <% if @database_input_errors %>
          <% @database_input_errors.each do |error| %>
            <%= error %>
          <% end %>
      <% end %>

      <%#= link_to 'Dump and Update Song Database', flush_path, method: :post %>
      <br/><br/>
      <h2>New Podcast</h2>
      <%= form_tag("/podcasts.json", :method => "post", :remote => true, :class => 'create_podcast') do %>
          Feed URL <%= text_field_tag :new_podcast_url, "http://www.newyorker.com/services/mrss/feeds/comment_podcast.xml" %>
          <%= submit_tag("New Podcast!") %>
      <% end %>
      Note that this is a sample link, you can enter whatever you want.
      <br/><br/>
      <h2>New Music Library (Not currently working)</h2>
      <%= form_tag('/music/create.json', :method => "post", :remote => true, :class => 'create_music_library') do %>
        Music Resource <%= text_field_tag :new_podcast_url %>
        <%= submit_tag("New Music Library!") %>
      <% end %>

    </div>
<% end %>