<h1>Songs</h1>
<%= form_tag("/songs/search", :method => "get") do |f| %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<ul>
  <li id="prev" style="cursor:pointer;">Previous</li>
  <li id="next" style="cursor:pointer;">Next</li>
</ul>
<div id="shuffle" style="cursor:pointer;">Shuffle</div>

<%= paginate @songs %>
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Location</th>
    <th>Actions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <%= form_tag(songs_add_to_playlist_path, :method => "post") do %>
    <%= label_tag('add_to_playlist', 'Add songs to playlist: ') %>
    <%= collection_select('playlist', 'id', @playlists, :id, :title) %>
    <%= submit_tag("Add to playlist") %>
    ||||||||||
    <%= link_to 'New Playlist', new_playlist_path %>
      <% @songs.each do |song| %>
        <tr>
            <td><%= song.title %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td><%= song.location %></td>
            <td><%= link_to 'Show', song %></td>
            <td><%= link_to 'Edit', edit_song_path(song) %></td>
            <td><%= link_to 'Destroy', song, confirm: 'Are you sure?', method: :delete %></td>
          <td>
            <%= label_tag(song.id, "Add to playlist") %>
            <%= check_box_tag "song_ids[]", song.id, false, :id => "song_#{song.id}" %>
          </td>
        </tr>
      <% end %>
  <% end %>
</table>
