<h1>Songs</h1>
<%= render "layouts/json_on_page" %>
<%= render "layouts/search" %>
<%= render "layouts/music_player_controls" %>
<%= paginate @songs %>
<div id="music_list_container">
    <%= render "layouts/list_music" %>
</div>