<h1>Playlists</h1>
<%#= render 'layouts/json_on_page' %>
<% @playlists.each_with_index do |playlist, index| %>
  <div playlist_index="<%= index %>" class="playlist_container">
    <%= render :partial => 'layouts/json_on_page_with_index', :locals => {:index => index} %>
      <ul>
        <li class="header"><%= playlist.title %></li>
        <li><%= link_to 'Show', playlist %></li>
        <li><%= link_to 'Edit', edit_playlist_path(playlist) %></li>
        <li><%= link_to 'Destroy', playlist, confirm: 'Are you sure?', method: :delete %></li>
      </ul>

      <%= form_tag(songs_add_to_playlist_path, :method => "post") do %>

      <table>
          <tr>
            <th class="title">Title</th>
            <th class="artists">Artist</th>
            <th class="album">Album</th>
            <th class="song_locations hidden">Location</th>
            <th class="song_checkbox">Add to playlist</th>
          </tr>

            <%= label_tag('add_to_playlist', 'Add songs to playlist: ') %>
            <%= collection_select('playlist', 'id', @playlists, :id, :title) %>
            <%= submit_tag("Add to playlist") %>
            ||||||||||
            <%= link_to 'New Playlist', new_playlist_path %>
              <% playlist.songs.each_with_index do |song, index| %>
                <tr id="<%= index %>">
                    <td class="song_title"><%= song.title %></td>
                    <td class="song_artist"><%= song.artist %></td>
                    <td class="song_album"><%= song.album %></td>
                    <td class="song_location hidden"><div class="long_td_wrapper"><%= song.location %></div></td>
                  <td>
                    <%= check_box_tag "song_ids[]", song.id, false, :id => "song_#{song.id}" %>
                  </td>
                </tr>
              <% end %>
          <% end %>
      </table>
  </div>
    <% end %>
    <br />

    <%= link_to 'New Playlist', new_playlist_path %>
