<p id="notice"><%= notice %></p>

<p>
  <b>Playlist:</b>
  <%= @playlist.title %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @songs = @playlist.songs %>
  <% @playlist.songs.each do |song| %>
    <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td><%= song.location %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>


</table>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
