<!DOCTYPE html>
<html>
<head>
  <title>Rubysquare</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "bind_from_json", "soundmanager/script/soundmanager2-jsmin.js", "setup", "helpers", "log","views", "ajax_manager", "ui", "music", "history", "fling", "commands", "obs",  "main" %>
</head>
<body>
<div id="page_wrapper">
<div id="big_menu">
  <%= render_navigation %>
</div>
<div id="registration_nav">
    <%= render 'devise/menu/auth_nav' %>
</div>

<%= render 'layouts/initial_view' %>
<div class="hidden" id="fling">fling</div>
<div id="menu">

</div>

<div id="message_container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<div class="hidden" id="new_playlist_dialog">
  <div class="close pointer">X</div>
  Add new playlist
</div>

<%= render 'layouts/music_player' %>
    <%= yield :controls %>
    <div id="main_container">
        <%= yield :content %>
        <%= yield %>
    </div>
</div>
</body>
</html>
