<!DOCTYPE html>
<html>
<head>
  <title>Rubysquare</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery", "bind_from_json", "soundmanager/script/soundmanager2.js", "setup", "log", "ajax_manager", "ui", "music", "history", "fling", "commands", "obs",  "main" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fling">fling</div>
<div id="menu">
  <%= render_navigation %>
  <%= render 'devise/menu/auth_nav' %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
