<!DOCTYPE html>
<html>
<head>
  <title>Rubysquare</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu">
  <%= link_to "Songs", songs_path %>
  |
  <%= link_to "Playlists", playlists_path %>
  |
  <%= render 'devise/menu/auth_nav' %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
