<!DOCTYPE html>
<html>
<head>
  <title>Rubysquare</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "bind_from_json", "soundmanager/script/soundmanager2.js", "setup", "helpers", "log","views", "ajax_manager", "ui", "music", "history", "fling", "commands", "obs",  "main" %>
</head>
<body>
<%= render 'layouts/initial_view' %>
<div id="fling">fling</div>
<div id="menu">
  <%= render_navigation %>
  <%= render 'devise/menu/auth_nav' %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= render 'layouts/music_player' %>
    <%= yield :controls %>
    <div id="main_container">
        <%= yield :content %>
        <%= yield %>
    </div>
</body>
</html>
