<!DOCTYPE html>
<html>
<head>
  <title>CARNIVOROUS</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js", "bind_from_json", "soundmanager/script/soundmanager2-jsmin.js", "setup", "helpers", "log","views", "ajax_manager", "ui", "music", "history", "fling", "commands", "obs",  "main" %>
</head>
<body>
<div id="page_wrapper">
<div id="big_menu">
  <%= render_navigation %>
</div>
<div id="ajax_messages" class="float_left"></div>
<div id="registration_nav" class="float_right">
    <%= render 'devise/menu/auth_nav' %>
</div>

<%= render 'layouts/initial_view' %>
<div class="hidden" id="fling">fling</div>
<div id="menu">

</div>

<div class="hidden" id="new_playlist_dialog">
  <div class="close pointer">X</div>
    <% if(@playlist.nil?); @playlist = Playlist.new; end  %>
    <%= render :partial => "playlists/form" %>
</div>

<!-- Only show authenticated users the controls -->
<% if user_signed_in? %>
<%= render 'layouts/music_player' %>
    <%= yield :controls %>
    <div id="main_container">
        <%= yield :content %>
        <%= yield %>
    </div>
<% else %>
    <div id="login_header">
        <h1 class="bigger" id="login_title"><a href="/">CARNIVOROUS</a></h1>
        <div id="work_in_progress" class="">Work in Progress!</div>
        <div id="message_container">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
        </div>
    </div>
    <%= yield %>
<% end %>

</div>
</body>
</html>
